body {
    color:brown;
    background:lightyellow;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 1px rgb(173, 92, 72);
    padding: 20px;
    font-size: 32px;;
}


.chamada{
    background: rgb(253, 230, 119, 0.44);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img{
    
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 40px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 1.0;
    height: 200px;
}

.categoria-videos img: hover{
    opacity: 1,0;
    border: 3px solid white;
}