body {
    color:brown;
    background:lightyellow;
    margin: 0px;
    font-family: "Playfair Display", sans-serif;
}

header {
    border-bottom: solid 1px rgb(173, 92, 72);
    padding: 20px;
    font-size: 32px;;
}


section{
    background: rgb(253, 230, 119, 0.44);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}